body {
    background-color: #F1E0AC;
  }

#text1 {
    border: 5px solid #98B4AA;
    width: 140px;
    height: 60px;
  }

#button {
    background-color: #495371;
    color: white;
    font-size: 16pt;
}

#maintext {
    border: 5px solid #74959A;
    background-color: #74959A;
    color: white;
    width: fit-content;
}
